.header-container {
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
  height: 70px;
  padding: 5px 20px;
  align-items: center;

  &__search-area {
    display: flex;
    gap: 10px;
  }
  &__search-btn {
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    padding: 0 5px;
    background-color: #fff;
  }
}
